:root {
  --color-header: rgb(228, 218, 181);
  --color-primary-light: #7fd8ee;
  --color-primary-dark: #1c8fdb;
  --color-button-dark: rgb(248, 161, 62);
  --color-button-light: rgb(255, 252, 75);
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-white: #fff;
  --color-black: #000;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2);
  --common-font: "Libre Franklin", sans-serif;
  --common-font-1: "Poppins", sans-serif;
  --special-font-1: "Great Vibes", cursive;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --header-smallest: calc(1.2rem + 1.2vw);
  --header-small: calc(1.75rem + 1.2vw);
  --header-medium: calc(2.4rem + 1.2vw);
  --header-large: calc(3rem + 1.2vw);
  --header-largest: calc(3.5rem + 1.2vw);
  --text-small: calc(1.5rem + 1.2vw);
  --text-medium: calc(2rem + 1.2vw);
  --text-large: calc(2.4rem + 1.2vw);
  --text-largest: calc(3.5rem + 1.2vw);
  --background-color: #414141;
  --gray-text: #525252;
  scroll-behavior: smooth;
}

h1 {
  font-size: var(--header-small);
  font-family: var(--special-font-1);
}

li,
button,
label,
input,
p,
a {
  font-size: var(--header-smallest);
}

h2 {
  font-size: var(--header-large);
}

h3 {
  font-size: var(--header-large);
  font-weight: 300;
  font-family: "ZCOOL QingKe HuangYou", cursive;
}

h4,
h5 {
  font-size: var(--header-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header {
  background: var(--color-header);
  -webkit-box-shadow: var(--shadow-dark);
          box-shadow: var(--shadow-dark);
  z-index: 2;
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
}

.main-header nav {
  width: 90%;
  margin: auto;
  min-height: 10vh;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header nav #logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
}

.main-header nav .nav-bar {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 5rem;
          flex: 1 1 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hero {
  min-height: 90vh;
  width: 95%;
  margin: 0 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero .hero-introduction {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 40rem;
          flex: 2 1 40rem;
  text-align: center;
}

.hero .hero-introduction h2,
.hero .hero-introduction p {
  padding: 4rem 3rem;
}

.hero .hero-introduction p {
  color: var(--color-grey-dark-2);
}

.hero .hero-introduction a {
  border: 0.3rem solid black;
  margin: 5rem;
  margin-bottom: 5rem;
  padding: 2rem 3rem;
  color: var(--color-grey-dark-2);
}

.hero-images {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#dad194), to(#dad18c));
  background: linear-gradient(#dad194, #dad18c);
  position: relative;
  z-index: 1;
}

.hero-images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 0;
}

#about {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#about .about-image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  position: relative;
}

#about .about-image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

#about .about-image h5 {
  font-size: 2.5rem;
  color: var(--color-white);
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  letter-spacing: 1.5rem;
  text-transform: uppercase;
}

#about .about-text {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 40rem;
          flex: 2 1 40rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #e4e2e2;
}

#about .about-text h2 {
  font-family: var(--special-font-1);
  padding: 3.5rem 1.5rem;
}

#about .about-text div {
  padding: 3rem 3rem;
}

#about .about-text h3 {
  font-weight: bold;
  font-size: var(--header-medium);
  font-family: var(--common-font-1);
  padding: 1.2rem 0;
}

#food-gallery {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  position: relative;
}

#food-gallery img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#food-gallery .gallery-head {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -125%);
          transform: translate(-50%, -125%);
  background: -webkit-gradient(linear, left top, right bottom, from(var(--color-grey-dark-2)), to(#58d3f8));
  background: linear-gradient(to right bottom, var(--color-grey-dark-2), #58d3f8);
  padding: 1.5rem 2rem;
  border-radius: 1.5rem;
}

#food-gallery .gallery-head h2 {
  font-family: var(--special-font-1);
  font-size: 3rem;
  text-align: center;
}

#food-gallery .gallery-head p {
  padding: 1rem 1rem;
  font-size: 2rem;
  font-family: var(--common-font);
  text-align: center;
}

#food-gallery .photo-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

#food-gallery .photo-2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

#food-gallery .photo-3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

#food-gallery .photo-4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

#contact {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#contact .form-wrapper {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 40rem;
          flex: 3 1 40rem;
}

#contact .form-wrapper h2 {
  font-size: var(--header-large);
  margin: 3.5rem 0rem;
}

#contact .form-wrapper span {
  font-size: 10rem;
  color: var(--color-primary-dark);
}

#contact .form-wrapper form label {
  display: block;
  margin-bottom: 2rem;
}

#contact .form-wrapper form input {
  display: block;
  background: var(--color-grey-dark-2);
  border-radius: 1rem;
  color: white;
  margin: 1.5rem 0rem;
}

#contact .form-wrapper form button {
  background: var(--color-button-light);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  border: none;
  border-radius: 2rem;
  margin: 1.5rem 0rem;
  padding: 1.3rem 8rem;
  width: 100%;
}

#contact .form-wrapper form button:hover {
  background: var(--color-button-dark);
}

#contact img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  height: 100%;
  width: 100%;
}

footer {
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: -webkit-gradient(linear, left top, left bottom, from(#dad194), to(#dad18c));
  background: linear-gradient(#dad194, #dad18c);
  padding: 2rem 2rem;
}

footer h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 4;
      -ms-flex: 4 1 40rem;
          flex: 4 1 40rem;
  font-family: var(--special-font-1);
  font-size: var(--text-medium);
}

footer h4 .year {
  font-family: var(--common-font);
  font-size: 1.4rem;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 860px) {
  .hero {
    width: 100%;
  }
  .nav-bar {
    background: var(--color-grey-dark-1);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
  }
  .nav-bar a {
    font-size: var(--text-largest);
    color: var(--color-white);
    text-decoration: underline;
  }
  .about-text div {
    padding: 2rem 2rem;
  }
  #food-gallery {
    -ms-grid-columns: (minmax(10rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
  #food-gallery img {
    grid-row: auto;
    grid-column: auto;
  }
  #food-gallery .gallery-head {
    display: none;
  }
  #contact input {
    width: 100%;
  }
  footer ul {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  footer h4 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  footer .year {
    font-size: 1.2rem;
  }
}

.hamburger {
  position: relative;
  display: block;
}

.hamburger span {
  padding: 0.2rem 2rem;
  margin: 0.5rem 2rem;
  display: block;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: var(--color-grey-dark-1);
}

.nav-open {
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
}

.toggle .line1 {
  -webkit-transform: rotateZ(45deg) translateY(300%);
          transform: rotateZ(45deg) translateY(300%);
  background: var(--color-white);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotateZ(-45deg) translateY(-300%);
          transform: rotateZ(-45deg) translateY(-300%);
  background: var(--color-white);
}
/*# sourceMappingURL=style.css.map */