// HAMBURGER
.hamburger {
  position: relative;
  display: block;
}

.hamburger span {
  padding: 0.2rem 2rem;
  margin: 0.5rem 2rem;
  display: block;
  transition: all 0.5s ease;
  background: var(--color-grey-dark-1);
}

// HAMBURGER
// for JavaScript classes (Nav bar)
.nav-open {
  transform: translate(-100%);
}

.toggle .line1 {
  transform: rotateZ(45deg) translateY(300%);
  background: var(--color-white);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotateZ(-45deg) translateY(-300%);
  background: var(--color-white);
}
